<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/styles') %>
  <title>Document</title>
</head>


<body>
  <%- include('partials/navigator')%>

  <main class="container  pt-50  text-center justify-content-center align-items-center">
    <section>
      <h1 class="display-1">About</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro officiis ipsum voluptatem molestiae qui excepturi eum quo maiores cum totam sit dolorem explicabo illo esse, aspernatur nemo dolorum sed iusto error vero cupiditate autem! Voluptatibus dolor, nostrum placeat vitae voluptas, perferendis, repudiandae ab tempore facere animi ipsam! Similique, molestiae pariatur? Debitis laudantium illo dolor nam sapiente error nesciunt enim, neque mollitia consequatur saepe autem, asperiores doloremque numquam nostrum? In porro eveniet ut veniam incidunt minima qui perferendis magni quam, delectus neque ullam reprehenderit corrupti aut iste earum dolor excepturi est tenetur provident unde accusamus corporis nesciunt aperiam. Quos laboriosam dignissimos, officiis et officia eius labore suscipit sit hic repellat quod adipisci quaerat consequatur. Amet veritatis nemo ratione. Ducimus quae numquam voluptatibus culpa earum officiis reiciendis labore, sapiente itaque aperiam tempora perspiciatis nostrum ut quis blanditiis. Porro dolore error ex, veritatis, exercitationem ipsa aliquam delectus ipsam at asperiores cum maiores. Obcaecati, maiores perferendis! Nostrum, quasi illum sequi et laborum voluptates labore sit neque doloremque maxime esse rerum aspernatur distinctio qui facilis, delectus vero quas repellat? Itaque corporis vero ullam placeat sunt unde dolores. Consequatur eius earum deserunt quod vel. Eaque, deserunt neque ipsa quae mollitia autem sequi eum, sit ratione quo natus? Animi veniam rem nobis quae delectus dicta laboriosam dignissimos soluta quis qui incidunt neque sint, dolor minima debitis molestias? Maiores eligendi rem consectetur culpa, aspernatur quam, veritatis atque doloremque vitae similique error nemo dignissimos accusamus deleniti minus, consequuntur commodi aut odit officiis reprehenderit sed architecto totam quo ipsa. Maxime accusamus officiis, dolore odio quidem a cupiditate voluptas quibusdam dolorem consequatur aut itaque illo? Fugit eligendi nobis facilis porro veniam illo vitae voluptates maxime minus! Accusantium dolorum, sit ab, voluptas facere vitae quas minus impedit similique nobis corrupti dicta inventore, assumenda adipisci quos expedita dignissimos fugiat officia tempore? Porro, eius?
      </p>
    </section>
  </main>

</body>
</html>