<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/styles') %>
  <title>My web first page</title>
</head>


<body>
  <%- include('partials/navigator')%>
<h1> <%= messagge %> </h1>

<header class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="d-flex flex-column justify-content-center align-items-center">
  <img src="/img/radiohead.jpg" class="w-25" alt="">
  <h1 class="display-5 my-5 text-uppercase fw-bold"><%= name%> </h1>
  <a href="/about" class="btn btn-primary w-25">About</a>
  </div>
</header>
</body>
</html>