<footer class="container-fluid bg-dark">
  <div>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque non reiciendis repellat suscipit ea architecto numquam, ratione tenetur ullam quidem eius porro placeat, asperiores eveniet voluptatum distinctio cupiditate, molestiae accusantium. </p>
  </div>
</footer>